.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(204, 4, 4, 0.741);
  max-width: 400px;
  width: 100%; /* Añade esto */
  position: absolute; /* Opcional: para centrado exacto */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Centrado perfecto */
}

.form-input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-button {
  width: 95%;
  padding: 10px;
  margin: 20px 0;
  background-color: rgba(204, 4, 4, 0.741);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #0056b3;
}
